@import "libs/skel";
@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import "libs/skel";

@include skel-breakpoints((xlarge: '(max-width: 1680px)',
large: '(max-width: 1280px)',
medium: '(max-width: 980px)',
small: '(max-width: 736px)',
xsmall: '(max-width: 480px)',
xxsmall: '(max-width: 360px)'
));

#navbar {
  font-family: _font(family-main);
  font-size: 0.9em;
  font-weight: 300;
  text-align: right;
  display: flex;

  .grow {
    flex: 1;
  }

  .title-item {
    font-weight: 700 !important;
    font-size: 1.1em !important;
  }

  .nav-item {
    margin: 1em 1.2em;
    display: inline;
    font-weight: bolder;

    a {
      border-bottom: none;
    }

    &.action {
      background-color: #fcd450;
      padding: 0 0.5em;
      border-radius: 5px;
      color: #212121;
      &:hover {
        color: #000;
      }

      //box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.38);
    }
  }
}

#burger-wrap {
  text-align: right;
  display: none;

  .grow {
    flex: 1;
  }

  .nav-item {
    margin: 1em 1.2em;
    display: inline;
    font-weight: bolder;

    a {
      border-bottom: none;
    }
  }

  .bm-burger-button {
    margin: 1em 1em;
    width: 30px;
    height: 30px;

    button {
      left: initial !important;
      right: 0px !important;
      width: inherit !important;
      height: inherit !important;
      margin: inherit !important;
      z-index: 1000;
    }
  }

  .bm-cross-button {
    margin: 1em 1em;
    top: 0px !important;
    right: 0px !important;
    width: 30px !important;
    height: 30px !important;

    button {
      right: 0px !important;
      top: 0px !important;
      width: inherit !important;
      height: inherit !important;
      z-index: 1000;
      box-shadow: none;

    }
  }

  .bm-morph-shape {

    // background: #373a47;
    path {
      fill: #373a47;
    }
  }

  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    width: 100%;

    .bm-item-list {
      color: #b8b7ad;
      padding: 0.8em;
      text-align: center;

      a {
        border-bottom: none;
      }

      .bm-item {
        display: inline-block;
        padding: 0.7em 0;

        &.divider {
          border-top: solid 2px #666;
          height: 2px;
          margin: 0.4em 0;
          padding: 0;
        }
      }

    }
  }

}

@include breakpoint(small) {
  #navbar {
    display: none;
    // flex-wrap: wrap;
    // text-align: center;

    // .nav-item {
    //   flex-basis: 100%;

    // }
  }

  #burger-wrap {
    display: flex;
  }

}